

body {
  background: linear-gradient(to right, #94758b, #491117);
  font-family: Arial;
  /*! height: 100vh; */
}

main {
  justify-content: center;
  display: flex;
  height: 100vh;
}

.chess-table {
  position: relative;
  margin: auto 10px;
  display: grid;
  justify-content: center;
  width: max-content;
}

table {
  background: rgba(0, 0, 0, 0.699);
  border: rgba(54, 54, 54, 0.404) 2px solid;
  border-radius: 0.5em;
}

td {
  width: 65px;
  height: 65px;
  border: transparent;
  text-align: center;
  user-select: none;
}

.white:hover,
.black:hover {
  border: rgba(0, 0, 0, 0.267) solid 5px;
}

.white:active,
.black:active {
  /* border: rgba(214, 13, 13, 0.795) solid 3px; */
  transform: scale(0.95);
  transition: 0.1s;
}

.white {
  background: rgb(226, 226, 226);
}

.black {
  background: linear-gradient(to top, #72052f, #610202);
}

.white,
.black {
  box-sizing: border-box;
}

.abc,
.numerals {
  text-align: center;
  font-weight: 700;
  user-select: none;
  color: #2c0000;
}

.abc {
  height: 25px;
}

.numerals {
  width: 25px;
}

.top {
  background: linear-gradient(to bottom, #fd5d00, #fa8703);
  transform: scaleX(1.02);
}

.right {
  background: linear-gradient(to left, #fd5d00, #fa8703);
  transform: scaleY(1.02);
}

.left {
  background: linear-gradient(to right, #fd5d00, #fa8703);
  transform: scaleY(1.02);
}

.bottom {
  background: linear-gradient(to top, #fd5d00, #fa8703);
  transform: scaleX(1.02);
}

.corner {
  background-color: #ff5e0052;
  width: 25px;
  height: 25px;
}

img {
  width: 30px;
  height: auto;
}

.piece {
  box-sizing: border-box;
}

#pawn {
  height: 26px;
  width: auto;
}

/* -==--==--==--==--==--==--==--==--==--==- Input text -==--==--==--==--==--==--==--==--==--==- */

.controls {
  position:static;
  display: flex;
  flex-flow: wrap;
  width: 135px;
  height: 90px;
  /*! justify-content: center; */
  /* left: 9vw; */
  /* top: 50; */
  /* translate: 0 -100%; */
  border: 3px #ffffffd6 solid;
  padding: 5px;
  border-radius: 2px;
  background: linear-gradient(to top, #610202, #72052e);
  /*! text-align: center; */
  justify-content: center;
margin: auto 50px;
}


.controls>input {
  width: 41.6%;
  text-align: center;
  margin: 2px;
  border: black solid 2px;
  border-radius: 4px;
  background: linear-gradient(to top, #ffd07a, #ffbebe);
}

.controls>input:active {
  border: 2px solid red;
}

#inputEnd:focus,
#inputStart:focus,
#submitButton:focus {
  border: 2px solid red;
  outline: 1px solid rgb(117, 0, 0);
}

.controls>p {
  font-family: Arial;
  font-size: 18px;
  color: aliceblue;
  margin: 4px;
  /*! left: 5px; */
  /*! position: fixed; */
}

#submitButton {
  width: 100%;
  background: linear-gradient(to bottom, #ff9e0c, #ff9552);
}

#submitButton:active {
  opacity: 0.8;
  transition: 0.1s;
}

#submitButton:hover {
  /* background: #d27135; */
  border: rgb(255, 240, 213) 2px solid;
  color: rgb(255, 211, 209);
  font-weight: bolder;

}

.arrival{
  border: #ff8f00 4px solid;

}
.arrivalCommit{
  background: greenyellow ;
  border: transparent;

}
.selected{
  background: #ff8f00;
}
